[class*= body] {
  background-color: rgb(209, 178, 143);
}
  

[class*= past] {
  background-color: rgb(109, 129, 82);
  color: bisque;
}

[class*= present] {
  background-color: rgb(201, 100, 50);
  color: bisque;
}

[class*= future] {
  background-color: #7b1fb1;
  color: bisque;
}

[class*= jumbotron] {
  font-family: 'Nunito Sans', sans-serif;
  text-align: center;
  background-color: rgb(48, 39, 39);
  color: bisque;
  border-radius: 0;
}

[class*= time-block] {
  text-align: center;
  border-radius: 15px;
}

[class*= row] {
  font-family: 'Prompt', sans-serif;
  white-space: pre-wrap;
  height: 80px;
  border-top: 1px solid bisque;
}

[class*= hour-block] {
  background-color: bisque;
  color: rgb(48, 39, 39);
  border-top: 1px dashed rgb(48, 39, 39);
}

[class*= saveBtn] {
  border-left: 1px solid rgb(48, 39, 39);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  background-color: #7b1fb1;
  color: bisque;
}

.saveBtn i:hover {
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

